#headerMainProfile {
	display: flex;
	padding: 8px;
}

#aProfileBackButton {
	background-color: transparent;
	text-decoration: none;
	color: var(--perfectWhite);
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
	margin: 0 14px;
}

#sectionProfileHeaderInfo {
	display: flex;
	flex-direction: column;
}

#h1ProfileUsername {
	font-size: 1.2rem;
	font-weight: bold;
	margin-left: 1rem;
}

#pProfilePostCount {
	color: var(--lightestGrey);
	font-size: 0.8rem;
	margin-left: 1rem;
}

@media screen and (min-width: 760px) {
	#headerMainProfile {
		position: sticky;
		top: 0;

		background-color: rgba(0, 0, 0, 0.4);
		backdrop-filter: blur(10px);
		z-index: 1;
	}
}