@import '../variables.css';
@import '../shared/modal.css';
@import './signUpModal.css';
@import './loginModal.css';

.pOr {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--white);
    line-height: 0.5rem;
    font-size: 0.8rem;
}

body {
    height: 100vh;

    main {
        display: grid;
        grid-template-areas:
            "logo main"
            "footer footer";
        grid-template-columns: 1fr 1fr;
        height: 100%;

        #divLogoContainer {
            grid-area: logo;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 5rem;
            padding-top: 3rem;

            svg {
                fill: var(--white);
                width: 320px;
                height: 320px;
            }
        }

        #sectionMain {
            grid-area: main;
            padding: 8.5rem 4rem 0 6.5rem;

            header {
                h1 {
                    font-size: 4rem;
                    font-weight: 800;
                    margin-bottom: 2.5rem;
                }

                h2 {
                    font-size: 2rem;
                    font-weight: 700;
                    margin-bottom: 2rem;
                }
            }
        }

        #divButtonsContainer {
            display: flex;
            flex-direction: column;
            width: 300px;

            button {
                padding: 0.5rem 1rem;
                margin-bottom: 1rem;
                border: none;
                border-radius: 9999px;
                font-size: 0.8rem;
                font-weight: 700;

                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    cursor: pointer;
                    background-color: var(--lightestGrey);
                }

                &:disabled {
                    background-color: var(--white);
                    color: var(--black);
                    cursor: not-allowed;
                }

                svg {
                    width: 20px;
                    height: 20px;
                    margin-right: 0.5rem;
                }

                #svgGrokLogo {
                    fill: var(--white);
                }
            }



            p {
                font-size: 0.6rem;
                color: var(--lighterGrey);
                line-height: 0.8rem;

                a {
                    font-size: 0.6rem;
                    color: var(--blue);
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            #sectionSignIn {
                display: flex;
                flex-direction: column;

                h3 {
                    font-size: 1rem;
                    font-weight: 500;
                    margin-top: 3rem;
                    margin-bottom: 1rem;
                }

                button {
                    background-color: var(--black);
                    color: var(--white);
                    border: 1px solid var(--grey);
                    font-size: 1rem;

                    &:hover {
                        background-color: var(--darkestGrey);
                    }
                }
            }
        }
    }

    footer {
        grid-area: footer;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: auto;

        nav {

            a,
            p {
                font-size: 0.6rem;
                color: var(--lighterGrey);
                text-decoration: none;

                &::after {
                    content: "   |";
                }

                &:last-of-type::after {
                    content: "";
                }
            }

            p {
                display: inline;
            }

            a:hover {
                text-decoration: underline;
                color: var(--lighterGrey);
            }
        }
    }

}