@import '../variables.css';



form {
    display: flex;
    flex-direction: column;

    #divSignUpPageOne, #divSignUpPageTwo {
        display: flex;
        flex-direction: column;

        header>h2 {
            font-size: 1.8rem;
            margin-bottom: 1.7rem;
        }

        input {
            margin-bottom: 1rem;
            padding: 1rem 0.5rem;
            border: 1px solid var(--grey);
            background-color: var(--black);
            color: var(--grey);
            border-radius: 0.25rem;
            font-size: 1rem;

            &:focus {
                outline: none;
                border: 1px solid var(--blue);
            }
        }

        #btnUseEmail,
        #btnUsePhone {
            background-color: transparent;
            border: none;
            color: var(--blue);
            font-size: 0.9rem;
            font-weight: 500;
            margin-bottom: 1.5rem;
            padding: 0;
            margin-left: auto;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }

        h3 {
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 0.5rem;
        }

        p {
            font-size: 0.8rem;
            color: var(--lightGrey);
            margin-top: 1rem;
            margin-bottom: 1.5rem;
        }

        #divDateInputs {
            display: grid;
            grid-template-columns: 6fr 2fr 3fr;
            gap: 0.5rem;
            margin-bottom: 6rem;

            select {
                padding: 1rem 0.5rem;
                border: 1px solid var(--grey);
                background-color: var(--black);
                color: var(--grey);
                border-radius: 0.25rem;
                font-size: 1rem;

                &:focus {
                    outline: none;
                    border: 1px solid var(--blue);
                }
            }
        }

        #btnSignUpNext {
            background-color: var(--lightestGrey);
            color: var(--black);
            font-size: 1rem;
            font-weight: 700;
            padding: 1rem;
            border-radius: 9999px;

            &:hover {
                background-color: var(--lighterGrey);
                cursor: pointer;
            }

            &:disabled {
                cursor: not-allowed;
            }
        }
    }

}