* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: rgb(239, 243, 244);
    overscroll-behavior: none;
}

a {
    text-decoration: none;
    color: white;
}

#divMainContainer {
    display: grid;
    grid-template-columns: 23fr 37fr 30fr;

    nav {
        height: 100vh;
        width: 25vw;
        display: flex;
        flex-direction: column;

        padding: 0 0 1rem 5rem;
        position: fixed;

        gap: .1rem;


        #aXLogo {
            width: max-content;
        }

        a {
            width: 100%;

            #spanXLogo {
                font-size: 2.1rem;
            }

            span {
                border-radius: 2rem;
                width: fit-content;
                padding: 0.5rem 1rem;
                font-size: 1.3rem;
                font-weight: 300;

                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    margin-right: 1rem;
                }

            }

            &:hover span {
                background-color: rgb(40, 40, 40);

            }
        }

        #aXLink>div {
            font-size: 2rem;
            font-weight: 700;
        }

        #btnPost {
            border: none;
            color: black;
            font-weight: 700;
            font-size: 1rem;
            padding: 1rem 2rem;
            border-radius: 1.5rem;
            cursor: pointer;
            margin: 1rem 2rem 0 0;

            &:hover {
                background-color: rgb(220, 220, 220);
            }
        }

        #sectionUserInfo {
            margin-top: auto;
            display: flex;
            flex-direction: row;
            padding: 0.5rem 1rem;

            &:hover {
                background-color: rgb(40, 40, 40);
                border-radius: 2rem;
                cursor: pointer;
            }

            #imgUserAvatar {
                height: 2.5rem;
                width: 2.5rem;
                border-radius: 50%;
                margin-right: 0.5rem;
                object-fit: cover;
                object-position: center;
            }

            #divUserNames {
                display: flex;
                flex-direction: column;
                padding: 0.25rem;
                gap: 0.1rem;

                #spanUserFullName {
                    font-weight: 700;
                    font-size: 0.9rem;
                }
                #spanUserHandle {
                    color: rgb(170, 170, 170);
                    font-size: 0.7rem;
                    font-weight: 200;
                }
            }

            #divMoreOptions {
                margin-left: auto;

                #spanMoreOptions {
                    font-size: 1.5rem;
                    padding: 0.5rem;
                }
            }
        }
    }

    main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        border-left: 1px solid rgb(48, 51, 54);
        border-right: 1px solid rgb(48, 51, 54);

        grid-column: 2/3;

        div {
            font-size: 20rem;
        }
    }

    aside {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 4rem 1rem 2rem;
        gap: 1rem;
        grid-column: 3/4;

        #formSearch {
            input {
                width: 100%;
                padding: 0.5rem 1rem;
                border-radius: 1.5rem;
                font-size: 1rem;
                background-color: black;
                border: 1px solid rgb(48, 51, 54);
            }
        }

        #sectionSubscribe {
            padding: 1rem;
            border: 1px solid rgb(48, 51, 54);
            border-radius: 1rem;

            header {
                font-size: 1.2rem;
                font-weight: 700;
                margin-bottom: 0.5rem;
            }

            p {
                font-size: 0.9rem;
                color: rgb(170, 170, 170);
                margin-bottom: 0.5rem;
            }

            button {
                border: none;
                color: white;
                font-weight: 700;
                font-size: 1rem;
                padding: 0.5rem 1rem;
                border-radius: 1.5rem;
                cursor: pointer;
                background-color: rgb(29, 155, 240);

                &:hover {
                    background-color: rgb(26, 140, 216);
                }
            }
        }

        #divTrends {
            margin-top: 0.5rem;
            border-top: 1px solid rgb(48, 51, 54);


            #sectionWhatsHappening {
                padding: 1rem;
                margin-top: 1rem;
                border: 1px solid rgb(48, 51, 54);
                border-radius: 1rem;

                header {
                    font-size: 1.2rem;
                    font-weight: 700;
                    margin-bottom: 0.5rem;
                }

                .articleTrendItem {
                    margin: 0.5rem 0;
                    display: flex;

                    #divTrendItemText {
                        display: flex;
                        flex-direction: column;
                        width: 100%;

                        p {
                            font-size: 0.7rem;
                            color: rgb(170, 170, 170);
                        }

                        h2 {
                            font-size: 0.9rem;
                            font-weight: 700;
                        }

                    }

                    button {
                        margin-left: auto;
                        background-color: black;
                        color: rgb(170, 170, 170);
                        border: none;
                        cursor: pointer;
                    }
                }


            }

            #sectionWhoToFollow {
                padding: 1rem;
                margin-top: 1rem;
                border: 1px solid rgb(48, 51, 54);
                border-radius: 1rem;
                gap: 1rem;

                header {
                    font-size: 1.2rem;
                    font-weight: 700;
                    margin-bottom: 0.5rem;
                }

                .articlePersonToFollow {
                    display: flex;
                    padding: 0.5rem 0;

                    .imgPersonToFollowAvatar {
                        height: 2.5rem;
                        width: 2.5rem;
                        border-radius: 50%;
                        object-fit: cover;
                        object-position: center;
                    }

                    .divPersonToFollowNames {
                        display: flex;
                        flex-direction: column;
                        margin-left: 0.5rem;

                        .spanPersonToFollowFullName {
                            font-weight: 500;
                        }

                        .spanPersonToFollowUserName {
                            font-size: 0.8rem;
                            color: rgb(170, 170, 170);
                        }
                    }

                    .btnFollow {
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        font-size: 0.8rem;
                        font-weight: 700;
                        margin-left: auto;
                        padding: 0.25rem 1rem;
                        border-radius: 1.5rem;
                    }
                }
            }
        }

        footer {}

        &:last-child {
            position: sticky;
            align-self: start;
            top: 0;
        }



    }
}