body.modalOpen {
	overflow: hidden;
	padding-right: 14px;
}

body {
	overflow-y: scroll;
}

main {
	min-height: 100vh;
	padding-bottom: 50px;
}

#headerMainPost {
	display: flex;
	padding: 8px;
	border-bottom: 1px solid var(--grey);
}

#aPostBackButton {
	background-color: transparent;
	text-decoration: none;
	border: none;
	color: var(--perfectWhite);
	font-size: 1.5rem;
	cursor: pointer;
	margin: 0 14px;
}

#h1Post,
#h1Search,
#h1Bookmarks {
	font-size: 1.2rem;
	font-weight: bold;
	margin-left: 1rem;
}

#divMainContainer {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 760px) {
	#headerMainPost {
		position: sticky;
		top: 0;
		left: 0;
		background-color: transparent(0.4);
		backdrop-filter: blur(10px);
		z-index: 1;
	}
}

@media screen and (min-width: 760px) {
	#divMainContainer {
		display: grid;
		grid-template-areas: 'nav main aside';
		grid-template-columns: 15fr 80fr 5fr;
		scrollbar-width: 12px;
		scrollbar-color: var(--lightGrey) var(--black);
	}

	main {
		grid-area: main;
		border-left: 1px solid rgb(48, 51, 54);
		border-right: 1px solid rgb(48, 51, 54);
	}
}

@media screen and (min-width: 1023px) {
	#divMainContainer {
		grid-template-columns: 10fr 70fr 20fr;
	}
}

@media screen and (min-width: 1439px) {
	#divMainContainer {
		grid-template-columns: 34fr 34fr 32fr;
	}
}