.divNoPosts {
	text-align: center;
	color: var(--lighterGrey);
	margin-top: 2rem;
	font-size: 1rem;
}

.articlePost {
	position: relative;
	padding: 1rem;
	border-bottom: 1px solid var(--grey);
	cursor: pointer;
}

.articlePost:hover {
	background-color: var(--darkerGrey);
}

.imgPostAvatar {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 14px;
	left: 20px;
}

.sectionPostOptions {
	top: 12px;
	right: 12px;
}

.sectionMorePostOptions {
	bottom: 12px;
	right: 20px;
}

.sectionPostOptions,
.sectionMorePostOptions {
	position: absolute;
	display: flex;
	align-items: center;
	color: var(--lighterGrey);
}

.sectionPostOptions button,
.sectionMorePostOptions button {
	background: none;
	border: none;
	cursor: pointer;
	color: inherit;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sectionPostOptions button:hover,
.sectionMorePostOptions button:hover {
	color: var(--blue);
	background-color: var(--darkestBlue);
}



.headerPostUser,
.headerRepostUser {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 18px;
}

.headerPostUser {
	margin-left: 60px;
}

.aPostUserFullName {
	color: var(--white);
	text-decoration: none;
	font-weight: 700;
	font-size: 0.9rem;
}

.aPostUserFullName:hover {
	text-decoration: underline;
}

.pPostUserHandle,
.pPostDotSeparator,
.pPostTime {
	color: var(--lighterGrey);
	font-size: 0.8rem;
}

.pPostContent {
	font-size: 0.9rem;
	margin-left: 60px;
}

.pRepostContent {
	font-size: 0.9rem;
	margin-top: 10px;
}

.sectionPostPicture {
	padding: 10px 20px;
}

.sectionPostPicture img {
	border-radius: 10px;
	margin-top: 10px;
	height: auto;
	width: 100%;
}

.buttonPostPicture img {
	border-radius: 10px;
	margin-top: 10px;
	height: auto;
	min-width: 100%;
}

.sectionRepost {
	border: 1px solid var(--grey);
	border-radius: 1rem;
	padding: 20px;
	margin-top: 30px;
	margin-bottom: 20px;
	background-color: var(--darkestGrey);
}

.imgRepostAvatar {
	top: 12px;
	left: 12px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
}

.sectionRepostPicture {
	width: 100%;
	height: auto;
	margin-top: 10px;
}

.sectionRepostPicture img {
	border-radius: 10px;
	width: 100%;
	height: auto;
}

.footerPostActions {
	display: flex;
	justify-content: space-between;
	margin-top: 0.75rem;
	width: 70%;
}

.buttonPostAction {
	background: none;
	border: none;
	display: flex;
	align-items: center;
	gap: 0.25rem;
	cursor: pointer;
	color: var(--lightGrey);
}

.buttonPostAction svg {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	padding: 4px;
}

.spanPostActionCount {
	font-size: 0.7rem;
}

.buttonPostActionComment:hover,
.buttonPostActionComment.triggered {
	color: var(--green);
}

.buttonPostActionComment:hover svg {
	background-color: var(--darkestGreen);
}

.buttonPostActionRepost:hover,
.buttonPostActionRepost.triggered {
	color: var(--yellow);
}

.buttonPostActionRepost:hover svg {
	background-color: var(--darkestYellow);
}

.buttonPostActionLike:hover,
.buttonPostActionLike.triggered {
	color: var(--red);
}

.buttonPostActionLike:hover svg {
	background-color: var(--darkestRed);
}

.buttonPostActionAnalytics:hover,
.buttonPostActionAnalytics.triggered {
	color: var(--blue);
}

.buttonPostActionAnalytics:hover svg {
	background-color: var(--darkestBlue);
}


@media screen and (min-width: 500px) {
	.articlePost {
		padding: 1rem 4rem 1rem 4.5rem;
	}

	.headerPostUser,
	.headerRepostUser {
		margin-left: 0;
	}

	.pPostContent {
		margin-left: 0;
	}

	.sectionPostPicture {
		padding: 0;
	}

	.footerPostActions {
		width: 90%;
	}
}