@import '../variables.css';

.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--modalBackgroundColor);

    .sectionModal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--black);
        padding: 4rem 2rem 1rem 2rem;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;

        .svgLogoModal {
            position: absolute;
            top: 1rem;
            left: 50%;
            translate: -50%;
            width: 30px;
            height: 30px;
            fill: var(--white);
        }

        #btnCloseSignUpModal,
        #btnCloseLoginModal,
        #btnBackSignUpModal {
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
            background: none;
            border: none;
            padding: 0.5rem;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

            &:hover {
                background-color: var(--darkGrey);
            }

            svg {
                fill: var(--white);
                width: 20px;
                height: 20px;
            }
        }
    }
}

@media screen and (min-width: 701px) {
    .modalBackground {
        .sectionModal {
            height: auto;
            width: 600px;
            padding: 4rem 5rem 1.5rem 5rem;
            border-radius: var(--lightBorderRadius);
        }
    }
}