#sectionCreatePost {
	display: none;
	padding: 1rem;
	border-bottom: 1px solid rgb(48, 51, 54);
}

#sectionCreatePostInputs {
	display: flex;
	flex-direction: row;
	gap: 0.8rem;
}

#imgCreatePostAvatar {
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}

#sectionCreatePostInputs input {
	width: 100%;
	background-color: var(--black);
	border: none;
	color: white;
	font-size: 1.2rem;
}

#sectionCreatePostInputs input:focus {
	outline: none;
}

#sectionCreatePostTypes {
	color: rgb(29, 155, 240);
	display: flex;
	gap: 0.25rem;
	width: 100%;
	padding: 1rem 0 0 3rem;
	position: relative;

	div {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		height: 2rem;
		width: 2rem;

		svg {
			width: 1.3rem;
			height: 1.3rem;
		}

		&:hover {
			background-color: rgb(12, 53, 81);
			border-radius: 50%;
		}
	}
}

#sectionCreatePostTypes input {
	display: none;
}

#sectionCreatePostTypes label {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}

#sectionCreatePostTypes label:hover {
	background-color: var(--darkestBlue);
}

#sectionCreatePostTypes label svg {
	width: 1.3rem;
	height: 1.3rem;
}

#btnSubmitPost {
	padding: 0.5rem 1rem;
	font-size: 0.9rem;
	font-weight: 600;
	background-color: var(--lightGrey);
	color: var(--black);
	border-radius: 1.5rem;
	border: none;
	height: 2.4rem;
	margin-left: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#btnSubmitPost:hover {
	background-color: var(--darkGrey);
	color: var(--white);
}

@media screen and (min-width: 760px) {

	#sectionCreatePost {
		display: block;
		padding: 1rem;
		border-bottom: 1px solid var(--darkGrey);
	}

	#sectionCreatePostInputs {
		display: flex;
		flex-direction: row;
		gap: 0.8rem;
	}

	#sectionCreatePostInputs input {
		width: 100%;
		background-color: var(--black);
		border: none;
		color: white;
		font-size: 1.2rem;
		margin-top: 0.5rem;
		margin-bottom: 4rem;
	}

	#sectionCreatePostInputs input:focus {
		outline: none;
	}

	#imgCreatePostAvatar {
		height: 2.5rem;
		width: 2.5rem;
		border-radius: 50%;
		object-fit: cover;
		object-position: center;
	}
}

@media screen and (min-width: 1024px) {
	#sectionCreatePostInputs input {
		margin-bottom: 1rem;
	}
}