@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.circle-loader {
	width: 25px;
	height: 25px;
	border: 3px solid rgba(29, 155, 240, 0.25);
	border-top-color: #1d9bf0;
	border-radius: 50%;
	display: block;
	margin: 40px auto;
	animation: spin 0.8s linear infinite;
	margin-bottom: 4.5rem;
}