#headerMain {
	display: flex;
	border-bottom: 1px solid rgb(48, 51, 54);

	.selectedHeaderButton {
		span {
			border-bottom: 2px solid rgb(29, 155, 240);
			color: white;
		}

	}

	button {
		background-color: rgba(0, 0, 0, 0.4);
		border: none;
		color: rgb(170, 170, 170);
		width: 50%;
		padding: 0.8rem 0;
		cursor: pointer;

		&:hover {
			background-color: rgb(40, 40, 40);
		}

		span {
			font-size: 0.9rem;
			font-weight: 500;
			padding: 0.8rem 0;
		}

	}
}


@media screen and (min-width: 760px) {
	#headerMain {
		position: sticky;
		top: 0;
		display: flex;
		border-bottom: 1px solid rgb(48, 51, 54);
		z-index: 1;

		.selectedHeaderButton {
			span {
				border-bottom: 2px solid rgb(29, 155, 240);
				color: white;
			}

		}

		button {
			background-color: rgba(0, 0, 0, 0.4);
			backdrop-filter: blur(10px);
			border: none;
			color: rgb(170, 170, 170);
			width: 50%;
			padding: 0.8rem 0;
			cursor: pointer;

			&:hover {
				background-color: rgb(40, 40, 40);
			}

			span {
				font-size: 0.9rem;
				font-weight: 500;
				padding: 0.8rem 0;
			}

		}
	}
}