@import '../variables.css';

@import '../shared/partitions/main.css';
@import '../shared/partitions/nav.css';
@import '../shared/partitions/aside.css';

@import '../shared/modals/analyticsModal.css';

@import '../shared/headerMain.css';
@import '../shared/sectionAddComment.css';
@import '../shared/toasts.css';
@import '../shared/articlePost.css';
@import '../shared/spinner.css';
@import '../shared/sectionCreatePost.css';