@import '../variables.css';
@import './nav.css';
@import './main.css';
@import './aside.css';


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

a {
    text-decoration: none;
    color: var(--white);
}

#divMainContainer {
    display: grid;
    grid-template-areas: 'nav main aside';
    grid-template-columns: 24fr 40fr 32fr;
    height: 100vh;
    overflow-y: scroll;

    scrollbar-width: medium;
    scrollbar-color: var(--lightGrey) var(--black);
}