#sectionCreatePost {
    display: none;
    padding: 1rem;
    border-bottom: 1px solid rgb(48, 51, 54);

    #formCreatePost {

        #sectionCreatePostInputs {
            display: flex;
            flex-direction: row;
            gap: 0.8rem;

            #imgCreatePostAvatar {
                height: 2.5rem;
                width: 2.5rem;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
            }

            input {
                width: 100%;
                background-color: var(--black);
                border: none;
                color: white;
                font-size: 1.2rem;

                &:focus {
                    outline: none;
                }
            }
        }

        #sectionCreatePostTypes {
            color: rgb(29, 155, 240);
            display: flex;
            gap: 0.25rem;
            width: 100%;
            padding: 1rem 0 0 3rem;
            position: relative;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                padding: 0.05rem 0.25rem;

                &:hover {
                    background-color: rgb(12, 53, 81);
                    border-radius: 50%;
                }
            }

            #btnSubmitPost {
                padding: 0.5rem 1rem;
                font-size: 0.9rem;
                font-weight: 600;
                background-color: rgb(170, 170, 170);
                border-radius: 1.5rem;
                border: none;
                height: 2rem;

                margin-left: auto;
            }
        }
    }
}

#sectionLoadMorePosts {
    border-bottom: 1px solid rgb(48, 51, 54);

    button {
        border: none;
        background-color: var(--black);
        font-weight: 400;
        font-size: 0.9rem;
        cursor: pointer;
        width: 100%;
        height: 3rem;
        color: rgb(29, 155, 240);

        &:hover {
            background-color: rgb(10, 10, 10);
        }
    }
}

@media screen and (min-width: 760px) {
    #sectionCreatePost {
        display: block;
        padding: 1rem;
        border-bottom: 1px solid rgb(48, 51, 54);

        #formCreatePost {

            #sectionCreatePostInputs {
                display: flex;
                flex-direction: row;
                gap: 0.8rem;

                #imgCreatePostAvatar {
                    height: 2.5rem;
                    width: 2.5rem;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: center;
                }

                input {
                    width: 100%;
                    background-color: var(--black);
                    border: none;
                    color: white;
                    font-size: 1.2rem;
                    margin-top: 0.5rem;
                    margin-bottom: 4rem;

                    &:focus {
                        outline: none;
                    }
                }
            }

            #sectionCreatePostTypes {
                color: rgb(29, 155, 240);
                display: flex;
                gap: 0.25rem;
                width: 100%;
                padding: 1rem 0 0 3rem;
                position: relative;

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    padding: 0.05rem 0.25rem;

                    &:hover {
                        background-color: rgb(12, 53, 81);
                        border-radius: 50%;
                    }
                }

                #btnSubmitPost {
                    padding: 0.5rem 1rem;
                    font-size: 0.9rem;
                    font-weight: 600;
                    background-color: rgb(170, 170, 170);
                    border-radius: 1.5rem;
                    border: none;
                    height: 2rem;

                    margin-left: auto;
                }
            }


        }


    }

    #sectionLoadMorePosts {
        border-bottom: 1px solid rgb(48, 51, 54);

        button {
            border: none;
            background-color: var(--black);
            font-weight: 400;
            font-size: 0.9rem;
            cursor: pointer;
            width: 100%;
            height: 3rem;
            color: rgb(29, 155, 240);

            &:hover {
                background-color: rgb(10, 10, 10);
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    #divMainContainer {
        main {
            #sectionCreatePost {
                #formCreatePost {
                    #sectionCreatePostInputs {
                        input {
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
        }
    }
}