#divAddCommentOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(70, 105, 130, 0.3);
	z-index: 1;
}

#sectionAddComment {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--black);
	border: 1px solid var(--darkGrey);
	border-radius: 8px;
	width: 90%;
	max-width: 600px;
	padding: 16px;
}

#btnCloseCommentOverlay {
	position: absolute;
	top: 16px;
	left: 16px;
	background-color: transparent;
	border: none;
	border-radius: 50%;
	padding: 0 10px;
	padding-bottom: 4px;
	color: var(--white);
	font-size: 24px;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		background-color: var(--grey);
	}
}

#sectionOriginalPost {
	margin-top: 44px;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid var(--darkGrey);
}

#sectionOriginalPostUserInfo {
	display: flex;
	align-items: center;
	margin-bottom: 4px;
}

#imgOriginalPostAvatar {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	margin-right: 12px;
}

#spanOriginalPostUserName {
	font-weight: bold;
	color: var(--white);
	font-size: 16px;
}

#spanOriginalPostUserHandle,
.spanPostDotSeparator,
#spanOriginalPostTime {
	color: var(--lighterGrey);
	margin-left: 8px;
	font-size: 14px;
}

#pOriginalPostContent {
	margin-bottom: 16px;
	margin-left: 20px;
	padding-left: 20px;
	padding-bottom: 16px;
	color: var(--white);
	border-left: 2px solid var(--darkGrey);
}

#sectionAddCommentContent {
	margin-top: 16px;
	display: flex;
}

#imgAddCommentAvatar {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	margin-right: 12px;
}

#textareaAddComment {
	flex: 1;
	resize: none;
	height: 100px;
	padding: 8px;
	border: none;
	background-color: transparent;
	color: var(--white);
	margin-bottom: 56px;
}

#btnSubmitAddComment {
	height: 44px;
	padding: 8px 16px;
	background-color: var(--lighterGrey);
	color: var(--black);
	font-size: 16px;
	font-weight: 600;

	border: none;
	border-radius: 32px;
	cursor: pointer;

	position: absolute;
	bottom: 16px;
	right: 16px;
}