aside {
    display: none;
    flex-direction: column;
    padding: 0rem 1.75rem;
    gap: 0.4rem;
    grid-area: aside;
}

#sectionSearch {
    position: sticky;
    top: 0;
    background-color: var(--black);
    padding: 0.3rem 0 0.45rem 0;
}

#formSearch {
    border: 1px solid var(--borderColor);
    border-radius: var(--heavyBorderRadius);
}

#formSearch:focus-within {
    border-color: var(--blue);
}

#formSearch svg {
    position: absolute;
    top: 1.1rem;
    left: 0.8rem;
    color: var(--lighterGrey);
}

#formSearch input {
    padding: 0.7rem 1rem;
    margin-left: 0.8rem;
    font-size: 0.8rem;
    background-color: transparent;
    border: none;
    color: var(--lightGrey);
    outline: none;
    caret-color: var(--blue);
}

#formSearch input:focus {
    border: none;
}

#sectionSubscribe {
    padding: 0.6rem 1rem;
    border: 1px solid var(--borderColor);
    border-radius: 0.6rem;
}

#sectionSubscribe header {
    font-size: 1.2rem;
    font-weight: 700;
}

#sectionSubscribe p {
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0.8rem 0;
}

#sectionSubscribe button {
    border: none;
    color: var(--perfectWhite);
    font-weight: 600;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    background-color: var(--blue);
    margin-bottom: 0.1rem;
}

#sectionSubscribe button:hover {
    background-color: var(--darkerBlue);
}

#divTrends {
    margin-top: 0.5rem;
    border-top: 2px solid var(--borderColor);
}

.btnShow {
    margin: 0;
    width: 100%;
    padding-top: 0.75rem;
    padding-bottom: 0.9rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: transparent;
    border: none;
    color: var(--blue);
    cursor: pointer;
    font-size: 0.9rem;
    text-align: left;
}

.btnShow:hover {
    background-color: var(--darkestGrey);
}

#sectionWhatsHappening {
    padding-top: 0.6rem;
    margin-top: 1rem;
    border: 1px solid var(--borderColor);
    border-radius: 1rem;
}

#sectionWhatsHappening>* {
    padding: 0.8rem;
}

#sectionWhatsHappening header {
    font-size: 1.2rem;
    font-weight: 700;
}

.articleTrendItem {
    display: flex;
}

.articleTrendItem:hover {
    background-color: var(--darkestGrey);
}

.articleTrendItem button {
    background-color: transparent;
    border: none;
    color: var(--lighterGrey);
    cursor: pointer;
    margin-left: auto;
}

.divTrendItemText {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.divTrendItemText p {
    font-size: 0.7rem;
    color: var(--lighterGrey);
}

.divTrendItemText h2 {
    font-size: 0.85rem;
    font-weight: 700;
    margin: 0.15rem 0;
}

#sectionWhoToFollow {
    border: 1px solid rgb(48, 51, 54);
    border-radius: 1rem;
    margin: 1rem 0;
}

#sectionWhoToFollow>* {
    padding: 0.8rem;
}

#sectionWhoToFollow header {
    font-size: 1.2rem;
    font-weight: 700;
    padding-left: 1rem;
}

.articlePersonToFollow {
    display: flex;
}

.imgPersonToFollowAvatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.sectionPersonToFollowNames {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

.aPersonToFollowFullName {
    font-weight: 600;
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--perfectWhite);
}

.aPersonToFollowFullName:hover {
    text-decoration: underline;
}

.pPersonToFollowHandle {
    font-size: 0.8rem;
    color: var(--lighterGrey);
}

.btnFollow,
.btnUnfollow {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
    margin-left: auto;
    padding: 0.25rem 1rem;
    border-radius: 1.5rem;
    max-height: 50px;
    cursor: pointer;
}

.btnFollow {
    background-color: var(--perfectWhite);
    color: var(--black);
    border: none;
}

.btnUnfollow {
    background-color: var(--black);
    color: var(--lightGrey);
    border: 1px solid var(--lighterGrey);
}

#footerAside {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    justify-content: center;
}

#footerAside a,
#footerAside span,
#footerAside div {
    font-size: 0.65rem;
    color: var(--lightGrey);
    text-decoration: none;
    transition: color 0.2s;
}

#footerAside a:hover {
    text-decoration: underline;
    color: var(--blue);
}

@media screen and (min-width: 1024px) {
    aside {
        display: flex;
    }
}


@media screen and (min-width: 1439px) {
    aside {
        padding-right: 200px;
    }
}