#navMobile {
    height: 3.5rem;
    width: 100%;
}

#navMobile #sectionUserInfoMobile {
    position: absolute;
    left: 1rem;
    top: 0.75rem;
}

#navMobile #sectionUserInfoMobile img {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

#navMobile #divNavMobileLogo {
    fill: var(--lightestGrey);
    width: 24px;
    height: 24px;
    font-size: 2rem;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#navMain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    z-index: 1;
    background-color: var(--black);
}

#navMain a {
    text-decoration: none;
    color: var(--white);
    font-size: 0;
}

#navMain a svg {
    width: 32px;
    height: 32px;
    fill: var(--lightestGrey);
}

#navmain #aXLogo,
#navMain #aNotification,
#navMain #aMessages,
#navMain #aCommunities,
#navMain #aPremium,
#navMain #sectionUserActions,
#navMain #sectionUserInfo {
    display: none;
}

@media screen and (min-width: 760px) {
    #navMobile {
        display: none;
    }

    #navMain {
        grid-area: nav;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0.25rem 2rem;
        width: auto;
        background-color: transparent;
        gap: 0;
    }

    #navMain #aXLogo #spanXLogo {
        margin-bottom: 1rem;
        width: min-content;
    }

    #navMain #aNotification,
    #navMain #aMessages,
    #navMain #aCommunities,
    #navMain #aPremium,
    #navMain #sectionUserActions,
    #navMain #sectionUserInfo {
        display: flex;
    }

    #navMain a {
        font-size: 0;
    }

    #navMain #aXLogo {
        font-size: 2.1rem;
        width: min-content;
    }

    #navMain a {
        padding: 0.5rem 0.9rem;
        font-weight: 300;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #navMain a svg {
        width: 28px;
        height: 28px;
    }

    #navMain #sectionUserActions {
        position: absolute;
        bottom: 5rem;
        width: 250px;
        padding: 0.8rem 0;
        border: 2px solid rgb(40, 40, 40);
        border-radius: 1rem;
        flex-direction: column;
    }

    #navMain #sectionUserActions button {
        width: 100%;
        padding: 0.75rem;
        border: none;
        color: var(--white);
        font-size: 0.9rem;
        font-weight: 500;
        text-align: center;
        cursor: pointer;
        background-color: var(--black);
    }

    #navMain #sectionUserActions button:hover {
        background-color: rgb(40, 40, 40);
    }

    #navMain #sectionUserInfo {
        margin: auto auto 1rem auto;
    }

    #navMain #sectionUserInfo:hover {
        background-color: rgb(40, 40, 40);
        border-radius: 2rem;
        cursor: pointer;
    }

    #navMain #sectionUserInfo #imgUserAvatar {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }

    #navMain #sectionUserInfo #divUserNames {
        display: none;
        flex-direction: column;
        padding: 0.25rem;
        gap: 0.1rem;
    }

    #navMain #sectionUserInfo #divUserNames #spanUserFullName {
        font-weight: 700;
        font-size: 0.9rem;
    }

    #navMain #sectionUserInfo #divUserNames #spanUserHandle {
        color: rgb(170, 170, 170);
        font-size: 0.7rem;
        font-weight: 200;
    }

    #navMain #sectionUserInfo #divMoreOptions {
        margin-left: auto;
        display: flex;
        align-items: center;
    }

    #navMain #sectionUserInfo #divMoreOptions svg {
        display: none;
    }

}

@media screen and (min-width: 1439px) {
    #navMain {
        align-items: flex-start;
        padding-left: 15vw;
    }

    #navMain #aXLogo {
        font-size: 2.5rem;
        padding: 0.5rem 2.5rem;
    }

    #navMain a {
        font-size: 1.2rem;
        justify-content: start;
        padding: 0.5rem 0 0.5rem 2.5rem;
        width: 250px;
    }

    #navMain a:hover {
        background-color: rgb(40, 40, 40);
        border-radius: 2rem;
        cursor: pointer;
    }

    #navMain a svg {
        margin-right: 1rem;
    }

    #navMain a:last-of-type {
        font-size: 1.2rem;
        padding: 0.5rem 0 0.5rem 2.5rem;
    }

    #navMain #sectionUserInfo {
        width: 100%;
        padding: 0.5rem 1rem;
    }

    #navMain #sectionUserInfo #divUserNames {
        display: flex;
    }

    #navMain #sectionUserInfo #divUserNames #spanUserFullName {
        font-size: 0.7rem;
    }

    #navMain #sectionUserInfo #divMoreOptions svg {
        display: flex;
        width: 20px;
        height: 20px;
        fill: var(--lightestGrey);
    }

}