#navMobile {
    height: 3.5rem;
    width: 100%;
}

#navMobile #sectionUserInfoMobile {
    position: absolute;
    left: 1rem;
    top: 0.75rem;
}

#navMobile #sectionUserInfoMobile img {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

#navMobile svg {
    fill: var(--lightestGrey);
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#navMain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    background: var(--black);
    z-index: 1;
    padding: 0 1rem;
}

#navMain a {
    text-decoration: none;
    color: var(--white);
}

#navMain a span {
    font-size: 0;
}

#navMain a span svg {
    display: inline;
}

#navMain a:last-of-type span {
    padding-right: 1rem;
}

#navMain #aNotification,
#navMain #aMessages,
#navMain #aCommunities,
#navMain #aPremium,
#navMain #btnPost,
#navMain #sectionUserActions,
#navMain #sectionUserInfo {
    display: none;
}

@media screen and (min-width: 760px) {
    #navMobile {
        display: none;
    }

    #navMain {
        grid-area: nav;
        height: 100vh;
        background-color: transparent;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0.25rem 2rem;
    }

    #navMain #aNotification,
    #navMain #aMessages,
    #navMain #aCommunities,
    #navMain #aPremium,
    #navMain #btnPost,
    #navMain #sectionUserActions,
    #navMain #sectionUserInfo {
        display: flex;
    }

    #navMain #btnPost {
        font-size: 0;
    }

    #navMain a {
        font-size: 0;
    }

    #navMain a #spanXLogo {
        font-size: 2.1rem;
    }

    #navMain a span {
        padding: 0.5rem 0.9rem;
        font-weight: 300;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #navMain #btnPost {
        display: none;
    }

    #navMain #btnPostMobile {
        padding: 0.4rem 0.8rem;
        width: 2rem;
        height: 2rem;
        border: none;
        background-color: transparent;
    }

    #navMain #btnPostMobile svg {
        fill: var(--white);
        width: 40px;
        height: 40px;
    }

    #navMain #sectionUserActions {
        position: absolute;
        bottom: 5rem;
        width: 15vw;
        padding: 0.4rem 0;
        border: 2px solid rgb(40, 40, 40);
        border-radius: 1rem;
    }

    #navMain #sectionUserActions button {
        width: 100%;
        padding: 0.75rem;
        border: none;
        background-color: transparent;
        color: var(--white);
        font-size: 0.9rem;
        font-weight: 500;
        text-align: center;
        cursor: pointer;
    }

    #navMain #sectionUserActions button:hover {
        background-color: rgb(40, 40, 40);
    }

    #navMain #sectionUserInfo {
        margin-top: auto;
        padding: 0.5rem;
    }

    #navMain #sectionUserInfo:hover {
        background-color: rgb(40, 40, 40);
        border-radius: 2rem;
        cursor: pointer;
    }

    #navMain #sectionUserInfo #imgUserAvatar {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }

    #navMain #sectionUserInfo #divUserNames {
        display: none;
        flex-direction: column;
        padding: 0.25rem;
        gap: 0.1rem;
    }

    #navMain #sectionUserInfo #divUserNames #spanUserFullName {
        font-weight: 700;
        font-size: 0.9rem;
    }

    #navMain #sectionUserInfo #divUserNames #spanUserHandle {
        color: rgb(170, 170, 170);
        font-size: 0.7rem;
        font-weight: 200;
    }

    #navMain #sectionUserInfo #divMoreOptions {
        display: none;
        margin-left: auto;
    }

    #navMain #sectionUserInfo #divMoreOptions #spanMoreOptions {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1023px) {
    #navMain {
        justify-content: center;
        align-items: center;
        width: 10vw;
        padding: 0.25rem 0;
    }

    #navMain a span {
        padding: 0.75rem 1.5rem;
    }

    #navMain a:last-of-type span {
        padding: 0.75rem 1.5rem;
    }

    #navMain #btnPostMobile {
        padding: 0;
    }
}

@media screen and (min-width: 1439px) {
    #navMain {
        width: 25vw;
        padding-left: 100px;
        padding-right: 100px;
        align-items: flex-start;
    }

    #navMain #aXLogo span {
        font-size: 2.5rem;
        padding: 0.5rem 2.5rem;
    }

    #navMain a span {
        font-size: 1.2rem;
        justify-content: start;
        padding: 0.5rem 0 0.5rem 2.5rem;
    }

    #navMain a span:hover {
        background-color: rgb(40, 40, 40);
        border-radius: 2rem;
        cursor: pointer;
    }

    #navMain a span svg {
        margin-right: 1rem;
    }

    #navMain a:last-of-type span {
        font-size: 1.2rem;
        padding: 0.5rem 0 0.5rem 2.5rem;
    }

    #navMain #btnPost {
        display: block;
        font-size: 1rem;
        padding: 0.75rem 5rem;
        margin-left: 2rem;
        margin-top: 1rem;
        border-radius: 9999px;
        background-color: var(--white);
        color: var(--black);
    }

    #navMain #btnPost:hover {
        background-color: var(--lightestGrey);
        cursor: pointer;
    }

    #navMain #btnPostMobile {
        display: none;
    }

    #navMain #sectionUserInfo {
        width: 100%;
        margin-left: 1rem;
        padding: 0.5rem 1rem;
    }

    #navMain #sectionUserInfo #divUserNames {
        display: flex;
    }

    #navMain #sectionUserInfo #divUserNames #spanUserFullName {
        font-size: 0.7rem;
    }

    #navMain #sectionUserInfo #divMoreOptions {
        display: block;
    }
}

@media screen and (min-width: 1740px) {
    #navMain {
        padding-left: 320px;
        padding-right: 20px;
    }

    #navMain #sectionUserInfo #divUserNames {
        display: flex;
    }

    #navMain #sectionUserInfo #divMoreOptions {
        display: block;
    }
}