:root {
    --perfectWhite: white;
    --white: rgb(228, 228, 228);
    --black: rgb(2, 2, 2);
    --blue: #1d9bf0;
    --darkerBlue: #1a8cd8;
    --darkestBlue: rgb(12, 53, 81);
    --modalBackground: rgba(70, 105, 130, 0.3);
    --green: #00ba7c;
    --darkestGreen: #046635;
    --yellow: #f7b928;
    --darkestYellow: #7a5c02;

    --red: #f91880;
    --darkestRed: #7a0a4e;

    --borderColor: rgb(48, 51, 54);
    --modalBackgroundColor: rgba(91, 112, 131, 0.4);

    --heavyBorderRadius: 1.5rem;
    --lightBorderRadius: 1rem;

    --lightestGreyOpacity: rgba(205, 205, 205, 0.8);
    --blackOpacity: rgba(2, 2, 2, 0.8);

    --lightestGrey: rgb(205, 205, 205);
    --lighterGrey: rgb(95, 95, 95);
    --lightGrey: rgb(90, 90, 90);
    --grey: rgb(70, 70, 70);
    --darkGrey: rgb(50, 50, 50);
    --darkerGrey: rgb(20, 20, 20);
    --darkestGrey: rgb(10, 10, 10);

    --colorSuccess: #4ade80;
    --colorError: #f87171;

    --tabletBreakpoint: 760px;
    --desktopBreakpoint: 1024px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
    font-family: 'Inter', 'Public Sans', 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.hidden {
    display: none !important;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    color: var(--white);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    /* overwrite dropdown styling */
    -webkit-box-shadow: 0 0 0 1000px var(--black) inset !important;
    -webkit-text-fill-color: var(--white) !important;
    box-shadow: none !important;
    border-color: var(--darkGrey) !important;
    transition: background-color 5000s ease-in-out 0s;
}

input:-internal-autofill-selected {
    /* Safari/Chrome internal */
    background-color: var(--black) !important;
    color: var(--white) !important;
}