#divEditProfileOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(70, 105, 130, 0.3);
	z-index: 1;
}

#sectionEditProfile {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--black);
	border: 1px solid var(--darkGrey);
	border-radius: 8px;
	width: 90%;
	max-width: 600px;

	height: 660px;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--darkGrey) var(--black);
}

#formEditProfile {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

#headerEditProfile {
	position: sticky;
	top: 0;
	background-color: var(--blackOpacity);
	backdrop-filter: blur(10px);
	display: flex;
	justify-content: space-between;
	z-index: 2;
	padding: 16px;
}

#divEditProfileHeaderLeft {
	display: flex;
	align-items: center;
	gap: 16px;
}

#btnCloseEditProfileOverlay {
	background-color: transparent;
	border: none;
	border-radius: 50%;
	color: var(--white);
	font-size: 24px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
}

#btnCloseEditProfileOverlay:hover {
	background-color: var(--grey);
}

#btnSaveProfileChanges {
	background-color: var(--lightestGrey);
	border: none;
	border-radius: 24px;
	padding: 6px 16px;
	color: var(--black);
	font-size: 14px;
	cursor: pointer;
}

#btnSaveProfileChanges:hover {
	background-color: var(--lighterGrey);
}

#divEditProfileContent {
	padding: 0 16px 16px 16px;
}

#sectionEditProfileBanner {
	width: 100%;
	height: 120px;
	border-radius: 8px;
	margin: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#imgEditProfileBanner {
	width: 100%;
	height: 120px;
	object-fit: cover;
	border-radius: 8px;
}

#inputEditProfileBanner,
#inputEditProfileAvatar {
	display: none;
}

#labelEditProfileBannerUpload,
#labelEditProfileAvatarUpload {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	cursor: pointer;
	background-color: var(--lightestGreyOpacity);
	display: flex;
	justify-content: center;
	align-items: center;
}

#labelEditProfileBannerUpload:hover,
#labelEditProfileAvatarUpload:hover {
	background-color: var(--grey);
}

#sectionEditProfileAvatar {
	position: relative;
	width: 120px;
	height: 120px;
	margin-top: -60px;
	margin-bottom: 10px;
}

#imgEditProfileAvatar {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 4px solid var(--black);
	object-fit: cover;
}

#labelEditProfileAvatarUpload {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#sectionEditProfileFields {
	display: flex;
	flex-direction: column;
	gap: 12px;

	label {
		font-weight: 600;
		font-size: 14px;
		color: var(--grey);
		border: 1px solid var(--darkGrey);
		padding: 8px;
		border-radius: 4px;
	}

	label:focus-within {
		color: var(--blue);
		border-color: var(--blue);
	}

	input,
	textarea {
		font-size: 14px;
		width: 100%;
		padding: 8px;
		margin-top: 4px;
		background-color: var(--black);
		border: none;
		color: var(--white);
	}

	input:focus,
	textarea:focus {
		outline: none;
	}

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus,
	textarea:-webkit-autofill:active {
		-webkit-text-fill-color: var(--white) !important;
		-webkit-box-shadow: 0 0 0px 1000px var(--black) inset !important;
		background-color: var(---black) !important;
		color: var(--white) !important;
		transition: background-color 5000s ease-in-out 0s;
		font-size: 14px;
	}

	textarea {
		resize: none;
		height: 120px;
	}

}

.svgIcon {
	width: 20px;
	height: 20px;
	fill: var(--darkGrey);
}