#headerMainProfile {
	border-bottom: 1px solid rgb(48, 51, 54);
	display: flex;
	padding: 0.5rem;

}

#aProfileBackButton {
	background-color: transparent;
	text-decoration: none;
	border: none;
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
	margin: 0 20px;
}

#sectionProfileHeaderInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 4px;
}

#h1ProfileUsername {
	font-size: 1.5rem;
	font-weight: bold;
	margin-left: 1rem;
}

#pProfilePostCount {
	color: rgb(113, 118, 123);
	font-size: 0.9rem;
	margin-left: 1rem;
	margin-top: -5px;
}

@media screen and (min-width: 760px) {}

@media screen and (min-width: 1024px) {}