@import '../variables.css';

@import './main.css';
@import './headerMainProfile.css';

@import '../shared/partitions/main.css';
@import '../shared/partitions/nav.css';
@import '../shared/partitions/aside.css';

@import '../shared/sectionAddComment.css';
@import '../shared/toasts.css';
@import '../shared/articlePost.css';