#formCreateComment {
	padding: 20px;
	border-bottom: 1px solid var(--grey);
}

#sectionCreatePostInputs {
	display: flex;
	flex-direction: row;
	gap: 12px;
}

#sectionCreatePostInputs input {
	width: 100%;
	background-color: var(--black);
	border: none;
	color: var(--perfectWhite);
	font-size: 1.2rem;
}

#sectionCreatePostInputs input:focus {
	outline: none;
}

#sectionCreatePostInputs input::placeholder {
	color: var(--grey);
}

#imgCreateCommentAvatar {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}

#sectionCreateCommentTypes {
	color: var(--blue);
	display: flex;
	gap: 4px;
	width: 100%;
	padding: 12px;
}

#sectionCreateCommentTypes button {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: 34px;
	height: 34px;
	border: none;
	background-color: transparent;
	color: var(--blue);
}

#sectionCreateCommentTypes button svg {
	width: 20px;
	height: 20px;
}

#sectionCreateCommentTypes button:hover {
	background-color: var(--darkestBlue);
	border-radius: 50%;
}

#sectionCreateCommentTypes #btnSubmitComment {
	margin-left: auto;
	height: 40px;
	width: 80px;
	border-radius: 24px;
	background-color: var(--lightGrey);
	border: none;
	color: var(--black);
}

#sectionCreateCommentTypes #btnSubmitComment:hover {
	background-color: var(--grey);
	cursor: pointer;
}