.articleComment {
	border-bottom: 1px solid var(--grey);
	padding: 20px;
	position: relative;
}

.sectionCommentOptions {
	position: absolute;
	top: 20px;
	right: 20px;
}

.btnCommentOptions {
	height: 34px;
	width: 34px;
	background-color: transparent;
	border: none;
	color: var(--grey);
	border-radius: 50%;
}

.btnMoreOptions {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6px;
}

.btnCommentOptions:hover {
	color: var(--blue);
	background-color: var(--darkestBlue);
	cursor: pointer;
}

.sectionCommentAuthorInfo {
	display: flex;
	gap: 12px;
	margin-bottom: 12px;
}

.imgCommentAuthorAvatar {
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

.divCommentAuthorText {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.aCommentAuthorName {
	color: var(--perfectWhite);
	font-weight: 600;
	margin-right: 12px;
	text-decoration: none;
}

.aCommentAuthorName:hover {
	text-decoration: underline;
}

.pCommentAuthorHandle,
.pDotSeparator,
.pCommentCreatedAt {
	color: var(--grey);
	font-size: 1rem;
	margin-right: 12px;
}

.pCommentContent {
	margin-top: 8px;
	margin-left: 54px;
}


.footerCommentActions {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 10px;
	margin-right: 80px;
}

.btnCommentAction {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: var(--lightGrey);
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 8px;
}

.btnCommentAction svg {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	padding: 6px;
}

.spanCommentActionCount {
	font-size: 0.7rem;
}

.btnCommentAction:focus {
	color: var(--lightGrey);
}

.btnReplyComment.triggered {
	color: var(--green);
}

.btnReplyComment:hover svg {
	color: var(--green);
	background-color: var(--darkestGreen);
}

.btnViewAnalytics:hover svg {
	color: var(--blue);
	background-color: var(--darkestBlue);
}


.btnViewAnalytics:hover span {
	color: var(--blue);
}


.btnReplyComment:hover span {
	color: var(--green);
}

.btnLikeComment:hover svg {
	color: var(--red);
	background-color: var(--darkestRed);
}

.btnLikeComment:hover span {
	color: var(--red);
}

.btnLikeComment:hover svg {
	color: var(--red);
	background-color: var(--darkestRed);
}

.btnLikeComment:hover svg {
	color: var(--red);
	background-color: var(--darkestRed);
}

.btnLikeComment.triggered {
	color: var(--red);
}

.sectionMoreCommentOptions {
	position: absolute;
	padding: 6px 0;
	right: 20px;
	bottom: 20px;
}