.articleComment {
	border-bottom: 1px solid var(--grey);
	padding: 20px;
	position: relative;
}

.sectionCommentAuthorInfo {
	display: flex;
	gap: 12px;
	margin-bottom: 12px;
}

.imgCommentAuthorAvatar {
	object-fit: cover;
	height: 30px;
	width: 30px;
	border-radius: 50%;
}

.divCommentAuthorText {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.aCommentAuthorName {
	color: var(--perfectWhite);
	font-weight: 600;
	font-size: 0.8rem;
	margin-right: 12px;
	text-decoration: none;
}

.aCommentAuthorName:hover {
	text-decoration: underline;
}

.pCommentAuthorHandle,
.pDotSeparator,
.pCommentCreatedAt {
	color: var(--grey);
	font-size: 0.8rem;
	margin-right: 8px;
}

.pCommentContent {
	margin-top: 8px;
	margin-left: 54px;
}


.footerCommentActions {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 10px;
}

.btnCommentAction {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: var(--lightGrey);
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 8px;
}

.btnCommentAction svg {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	padding: 6px;
}

.spanCommentActionCount {
	font-size: 0.7rem;
}

.btnCommentAction:focus {
	color: var(--lightGrey);
}

.btnReplyComment.triggered {
	color: var(--green);
}

.btnReplyComment:hover svg {
	color: var(--green);
	background-color: var(--darkestGreen);
}

.btnViewAnalytics:hover svg {
	color: var(--blue);
	background-color: var(--darkestBlue);
}


.btnViewAnalytics:hover span {
	color: var(--blue);
}


.btnReplyComment:hover span {
	color: var(--green);
}

.btnLikeComment:hover svg {
	color: var(--red);
	background-color: var(--darkestRed);
}

.btnLikeComment:hover span {
	color: var(--red);
}

.btnLikeComment:hover svg {
	color: var(--red);
	background-color: var(--darkestRed);
}

.btnLikeComment:hover svg {
	color: var(--red);
	background-color: var(--darkestRed);
}

.btnLikeComment.triggered {
	color: var(--red);
}