#headerMainPost {
	display: flex;
	padding: 8px;
	border-bottom: 1px solid var(--grey);
}

#aPostBackButton {
	background-color: transparent;
	text-decoration: none;
	border: none;
	color: var(--perfectWhite);
	font-size: 1.5rem;
	cursor: pointer;
	margin: 0 14px;
}

#h1Post {
	font-size: 1.2rem;
	font-weight: bold;
	margin-left: 1rem;
}

@media screen and (min-width: 760px) {
	#headerMainPost {
		position: sticky;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.4);
		backdrop-filter: blur(10px);
		z-index: 1;
	}
}