#divReplyOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--modalBackground);
	z-index: 1;
}

#sectionReply {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--black);
	border: 1px solid var(--darkGrey);
	border-radius: 8px;
	width: 90%;
	width: 600px;
	padding: 20px;
}

#btnCloseReplyOverlay {
	background-color: transparent;
	border: none;
	border-radius: 50%;
	color: var(--white);
	font-size: 24px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
}

#btnCloseReplyOverlay:hover {
	background-color: var(--grey);
}

#sectionReplyToInfo {
	display: flex;
	align-items: center;
	gap: 6px;
	margin-bottom: 12px;
	width: 100%;
}

#sectionReplyToHeader {
	display: flex;
	gap: 8px;
}

#imgReplyToAvatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

#pReplyToUsername {
	font-weight: bold;
	font-size: 16px;
	color: var(--white);
}

#pReplyToHandle,
#pReplyToDotSeparator,
#pReplyToTime {
	font-size: 14px;
	color: var(--lighterGrey);
}



#sectionReplyingTo {
	border-left: 1px solid var(--darkGrey);
	height: 40px;
	margin-left: 20px;
	padding-left: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}

#sectionReplyingTo #pReplyToContent {
	font-size: 16px;
	color: var(--white);
}

#sectionReplyingTo p {
	font-size: 14px;
	color: var(--lighterGrey);
}

#textareaReplyContent {
	width: 100%;
	height: 100px;
	background-color: transparent;
	border: none;
	border-radius: 8px;
	color: var(--white);
	padding: 12px;
	font-size: 16px;
	resize: none;
}

#textareaReplyContent:focus {
	outline: none;
	border: 1px solid var(--blue);
}

#divReplyFormBottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 12px;
}

#sectionCreatePostTypes {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 12px;
	width: 60%;
}

#sectionCreatePostTypes div {
	cursor: pointer;
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

#sectionCreatePostTypes div:hover {
	background-color: var(--darkestBlue);
}

#sectionCreatePostTypes div svg {
	fill: var(--blue);
	width: 20px;
	height: 20px;
}

#btnSubmitReply {
	background-color: var(--blue);
	border: none;
	border-radius: 20px;
	color: var(--perfectWhite);
	font-weight: bold;
	padding: 8px 16px;
	cursor: pointer;
}

#btnSubmitReply:hover {
	background-color: var(--darkerBlue);
}