@import './variables.css';
@import './shared/partitions/main.css';

#header404 {
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--grey);
	padding: 20px;
	gap: 20px;
}

#header404 a {
	text-decoration: none;
	color: var(--white);
	font-size: 1.2rem;
	font-weight: 600;
}

#div404Container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30vh;
	text-align: center;
}

#divLogoContainer {
	font-size: 100px;
	margin-right: 20px;
	color: var(--lightGrey);
}

#section404Content h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

#section404Content p {
	font-size: 1.2rem;
	color: var(--lightGrey);
}